<nav class="navbar navbar-expand navbar-dark bg-primary mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Pixel World</a>
  </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link"> Home </a>
      </li>
      <li class="nav-item">
        <a routerLink="/services" class="nav-link"> Services </a>
      </li>
      <li class="nav-item">
        <a routerLink="/testimonials" class="nav-link"> Testimonials </a>
      </li>
      <li class="nav-item">
        <a routerLink="/contactus" class="nav-link"> ContatctUs </a>
      </li>
    </ul>
</nav>